name: Pull feeds and publish

on:
  schedule:
    - cron: '0 0 * * 1' # weekly at 00:00 on Monday UTC -> https://crontab.guru/#0_0_*_*_1
  push:
    branches:
      - 'main'
    paths:
      - '**/*'
      - '!docs'
  workflow_dispatch:


jobs:
  build_and_commit:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    defaults:
      run:
        working-directory: ./tools/rss_retriever # Sets the default CWD for all 'run' steps in this job
    steps:
      - uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # v3.6.0
      - uses: ni/python-actions/setup-python@aa64e60612cb078b0c2ada666becbd70d4817d55 # v0.7.1
      - uses: ni/python-actions/setup-poetry@aa64e60612cb078b0c2ada666becbd70d4817d55 # v0.7.1
      - run: poetry install -v
      - name: cache feed data
        id: cache-feeds
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          path: ~/cache-feeds
          key: ${{ runner.os }}-cache-feeds
      - name: Build feeds
        run: >
          poetry run python -m rss_retriever 
          --feed "https://www.youtube.com/feeds/videos.xml?channel_id=UCea_GJg5QGvycBOrYjjkMJg"
          --output-json --items-path feed/entry 
          --cache-dir ~/cache-feeds
          --out-dir ../../docs;
          
          poetry run python -m rss_retriever 
          --feed "https://anchor.fm/s/d5a0c50/podcast/rss"
          --output-json --items-path rss/channel/item
          --cache-dir ~/cache-feeds
          --out-dir ../../docs
      - name: Store Cache dir as artifact
        uses: actions/upload-artifact@v4
        with:
          name: feeds-cache
          path: ~/cache-feeds/
      - name: Check for changes and commit/push
        run: |
          git config user.name "GitHub Actions"
          git config user.email "actions@users.noreply.github.com"
          git add "$GITHUB_WORKSPACE/docs"
          git diff --cached --exit-code --quiet || {
            git commit -m "Automated update (CI)"
            git push
          }
