name: Pull feeds and publish

on:
  schedule:
    - cron: '0 0 * * 1' # weekly at 00:00 on Monday UTC -> https://crontab.guru/#0_0_*_*_1
  push:
    branches:
      - 'main'
    paths:
      - '**/*'
      - '!docs'
  workflow_dispatch:


jobs:
  build_and_commit:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    defaults:
      run:
        working-directory: ./tools/rss_retriever # Sets the default CWD for all 'run' steps in this job
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: ni/python-actions/setup-python@aa64e60612cb078b0c2ada666becbd70d4817d55 # v0.7.1
      - uses: ni/python-actions/setup-poetry@aa64e60612cb078b0c2ada666becbd70d4817d55 # v0.7.1
      - run: poetry install -v
      - name: cache feed data
        id: cache-feeds
        uses: actions/cache@8b402f58fbc84540c8b491a91e594a4576fec3d7 # v5.0.2
        with:
          path: ~/cache-feeds
          key: ${{ runner.os }}-cache-feeds
      - name: Build feeds
        run: >
          poetry run python -m rss_retriever 
          --feed "https://www.youtube.com/feeds/videos.xml?channel_id=UCea_GJg5QGvycBOrYjjkMJg"
          --output-json --items-path feed/entry --item-id-key id
          --cache-dir ~/cache-feeds
          --out-dir ../../docs;
          
          poetry run python -m rss_retriever 
          --feed "https://anchor.fm/s/d5a0c50/podcast/rss"
          --output-json --items-path rss/channel/item --item-id-key link
          --cache-dir ~/cache-feeds
          --out-dir ../../docs
      - name: Store Cache dir as artifact
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: feeds-cache
          path: ~/cache-feeds/
      - name: Check for changes and commit/push
        run: |
          git config user.name "GitHub Actions"
          git config user.email "actions@users.noreply.github.com"
          git add "$GITHUB_WORKSPACE/docs"
          git diff --cached --exit-code --quiet || {
            git commit -m "Automated update (CI)"
            git push
          }
